<h3>全部</h3>
<% @articles.each do |article| %>
  <%= article.title %>
  <%= link_to '編集', edit_article_path(article) %>
  <%= link_to '詳細', article_path(article) %>
  <%= link_to '消す', article_path(article), method: :delete, data:{confirm: '本当に?'} %>
  <br>
<% end %>

